body {
  background: #a393eb;
  font-family: Reddit Mono, Arial, Helvetica;
}
.container {
  margin: 120px auto;
  max-width: 600px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
}

header {
  margin-bottom: 30px;
}

.form-container {
  background-color: #fff;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  padding: 15px 20px;
}

form {
  display: flex;
}

.hint {
  line-height: 1.5;
  font-size: 12px;
  margin-top: 5px;
  opacity: 0.6;
}

.instructions {
  padding: 16px;
  border: 1px solid rgba(81, 81, 85, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 10px;
  line-height: 20px;
  color: #272044;
}

.button {
  margin-left: 10px;
  background-color: #5e63b6;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 14px 24px;
  width: 150px;
  font-size: 16px;
}

.poem {
  font-size: 14px;
  background-color: #fff;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid #5e63b6;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  font-size: 16px;
}

.hidden {
  display: none;
}
.poem strong {
  color: #f5c7f7;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}

a {
  color: #27296d;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.blink {
  animation: blink 1s steps(5, start) infinite;
}
